* {
    margin: 0;
    padding: 0;
}
@media(max-width: 430px) {
    .edit-profile {
        width: 340px;
        height: 710px;
        gap: 20px;
    }
    .edit-profile__up {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;
    }
    .edit-profile__up span {
        font-weight: 500;
        font-size: 16.7447px;
        color: #F20D0D;

    }
    .edit-profile-mob__sizeable {
        width: 160px;
        height: 160px;
    }
    .edit-profile__down{
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .edit-profile__down__info {
        flex-direction: column;
    }
    .edit-profile__down__info__up {
        flex-direction: column;
    }
    .edit-profile__down__info__data {
        width: 310px;
        height: 35px;
    }
    .edit-profile__down__profile__face {
        width: 310px;
        height: 35px;
    }
    .edit-profile__up__button {
        width: 168px;
        height: 40px;
        margin-top: 10px;
    }


}
