.personalData__head {
    display: flex;
    justify-content: space-between;
}
.personalData__btn-back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    background: #f20d0d;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: #ffffff;
}
.personalData__btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 168px;
    height: 40px;
    background: #ffffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #545454;

}
.personalData__info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 40px;
}
.personalData__info__left img {
    width: 160px;
    height: 160px;
}
.personalData {
    display: flex;
    flex-direction: column;
}
.personalData__info__right__data {
    display: flex;
    flex-direction: column;
}
.personalData__info__right__main {
    font-weight: 600;
    font-size: 24px;
    color: #545454;
}
.personalData__info__right__standart {
    font-weight: 400;
    font-size: 14px;
    color: #F20D0D;
    margin-top: -1px;
}
.personalData__info__right__medium {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F20D0D;
    margin-top: 7px;
}
.personalData__info__right {
    flex-direction: column;
    display: flex;
    gap: 42px;
}
.personalData__info__right__data__down {
    display: flex;
    gap: 55px;
    align-items: center;
}
.personalData__information__left {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}
.personalData__information__subtitle {
    display: flex;
    align-items: center;
    gap: 3px;
}
.personalData__information__main {
    font-weight: 500;
    font-size: 16px;
    color: #F20D0D;
}
.personalData__information__about {
    font-weight: 400;
    font-size: 14px;
    color: #545454;
}
.personalData__geo {
    display: flex;
    gap: 31px;
    align-items: center;
    margin-top: 38px;
}
.personalData__geo_legal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 13px;
}
.personalData__geo_legal__title {
    font-weight: 500;
    font-size: 16px;
    color: #545454;
}
.personalData_entery {
    display: flex;
    gap: 6px;
    width: 406px;
    height: 190px;
}
.geo_img {
    width: 156px;
    height: 170px; ;
}
