@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.header {
    width: 100%; 
}
.header-pc {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
}
.header-mobile {
    display: none;
}
.header__container {
    margin: 0 auto;
    padding: 0 25px 0 25px;
    max-width: 1206px;
}
.nav-top {
    height: 50px;
    width: 100%;
    background: #DA5C34;
}
.nav-top__row {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-top__right {
    display: flex;
    margin-right: 18px;
}
.nav-top__city {
    display: flex;
    align-items: center;
}
.nav-top__city-text {
    color: #fff;
    font-size: 14px;
}
.nav-top__city-img {
    margin-left: 12px;
}

.nav-top__right__email {
    display: flex;
    align-items: center;
}
.nav-top__mail-text {
    margin-left: 30px;
    color: #fff;
    font-size: 12px;
}

.nav-top__right__phone {
    margin-left: 63px;
    display: flex;
    align-items: center;
}
.nav-top__phone-text {
    margin-left: 22px;
    color: #fff;
    font-size: 12px;
}



.nav-bottom {
    z-index: 2;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.nav-bottom__row {
    margin-left: -12px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bottom__row__left {
    margin-top: 3px;
    display: flex;
    align-items: center;
}
.nav-bottom__logo {
    width: 60px;
    height: 60px
}
.nav-bottom__burger {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #F2F4F5;
    background: #fff;
}
.nav-bottom__burger-img {
    width: 24px;
    height: 24px;
}

.nav-bottom__search {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 380px;
    height: 40px;
    background: #F2F4F5;
    border-radius: 20px;
} 
.nav-bottom__search-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}


.nav-bottom__row-right {
    margin-top: 3px;
    display: flex;
    align-items: center;
}
.nav-bottom__row-right__icons {
    display: flex;
}
.nav-bottom__row-right__icon {
    margin-right: 31.5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F4F5;
    border-radius: 20px;
}

.nav-bottom__cart-price {
    margin-left: -5px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #DA5C34;
}
.pull__main {
    display: none;
    align-items: flex-start;
    margin-top: 130px;
    width: 100%;
}


.pull-catalog {
    display: flex;
    align-items: flex-start;
    margin-top: 60px;
    margin-left: 100px;
}
.pull-catalog-big {
    display: flex;
    flex-direction: column;
    width: 280px;
}
.pull-catalog-big__item {
    box-sizing: border-box;
    padding-top: 26.7px;
    text-align: center;
    width: 280px;
    height: 280px;
    border-radius: 21.1111px;
    margin-bottom: 21px;
}
.pull-catalog-big__item__title {
    font-size: 20px;
    line-height: 24px;
    color: #545454;
}

.pull-catalog-small {
    display: flex;
    flex-wrap: wrap;
    min-width: 180px;
    margin-left: 20px;
    box-sizing: border-box;
}
.pull-catalog-small__item {
    box-sizing: border-box;
    padding-top: 17px;
    text-align: center;
    width: 180px;
    height: 180px;
    border-radius: 21.1111px;
    margin-bottom: 20px;
    margin-right: 22px;
}
.pull-catalog-small__item__title {
    font-size: 12.8571px;
    line-height: 16px;
    color: #545454;
}





.pull-menu {
    min-height: calc(100vh - 181px);
    padding-top: 1px;
    background: #fff;
    width: 550px;
}
.pull__active {
    display: flex;
}
.pull-menu__list {
    list-style: none;
    margin-left: 130px;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
}
.pull-menu__list:last-child {
    padding-bottom: 100px;
}
.pull-menu__item {
    cursor: pointer;
    width: 382px;
    padding: 25px 0 25px 12px;
    font-size: 32px;
    line-height: 39px;
    color: #545454;
    border-bottom: 1px solid #545454;
}
.pull-menu__item__catalog-img {
    margin-top: 19px;
    width: 380px;
    height: 520px;
}






.header-mobile {
    width: 100%;
    background: #DA5C34;
}
.nav-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    height: 53px;
}
.nav-mobile__burger {
    cursor: pointer;
    margin-right: 1%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #F2F4F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-mobile__search {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 60%;
    height: 40px;
    background: #F2F4F5;
    border-radius: 20px;
} 
.nav-mobile__search-img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.pull-menu-mobile {
    display: none;
    margin: 0 auto;
    padding-top: 24px;
    background: #F2F4F5;
    height: calc(100vh - 127px);
}
.pull-menu-mobile__active {
    display: block;
}
.pull-menu-mobile__inner {
    width: 92.5%;
    margin: 0 auto;
}
.pull-menu-mobile__title {
    color: #545454;
    font-size: 24px;
    line-height: 140%;
    font-weight: 700;
}
.pull-menu-mobile__list {
    margin-top: -10px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.pull-menu-mobile__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 25px 0 10px 0;
    font-size: 20px;
    line-height: 24px;
    color: #545454;
    border-bottom: 1px solid #545454;
}
.pull-menu-mobile__item-img {
    margin-top: 5px;
    margin-right: 15px;
    width: 26px;
    height: 15px;
}
.pull-menu-mobile {
    display: none;
}
@media (max-width: 1350px) {
    .pull-catalog {
        margin-left: 50px;
        flex-wrap: wrap;
    }
    .pull-catalog-big {
        width: 100%;
        flex-direction: row;
    }
    .pull-catalog-big__item {
        margin-right: 20px;
    }
    .pull-catalog-small {
        margin-left: 0;
    }
    .pull-menu__list {
        margin-left: 50px;
        width: 400px;
    }
}
@media (max-width: 1130px) {
    .pull-catalog {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 50px;
        justify-content: center;
    }
    .pull-catalog-big {
        flex-direction: column;
        width: 280px;
    }
    .pull-catalog-small {
        justify-content: center;
    }
    .pull-menu {
        min-height: 150vh;
    }
}
@media (max-width: 960px) {
    .header-mobile {
        display: block;
    }
    .header-pc {
        display: none;
    }
    .pull__active {
        display: none;
    }
    .pull-menu-mobile__active {
        display: block;
    }
}